<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.title %></h1>
            <hr>
            <div class="image">
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <div class="card__content">
                <h2><%= product.price %></h2>
                <p><%= product.description %></p>
                <p class="product__stat"><%= product.height %> x <%= product.width %> x <%= product.depth %> inches</p>
                <p class="product__stat"><%= product.weight %> ounces</p>            
            </div>
            <div class="card__actions">
                <% if (isAuthenticated) { %>
                    <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                <% } %>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>